/*
 *  Copyright 2012 Choorp Studios
 */

.dashboard {
	background-image: url("images/dash-bg.png");
	color: #fff;
	padding: 3px;
}
.dashContainer {
	margin-left: 10px;
}
.dashTemp {
	font-size: 28px;
	margin-left: 10px;
}
.dashContent {
	font-size: 15px;
}
.highlow {
	font-size: 15px;
}
.alignRight {
	text-align: right;
	padding-right: 5px;
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.iconText {
	text-align: right;
	padding: 1px 5px 0 0;
}